<section id="add">
  <form action="/" method="post">
    <input type="text" name="url" placeholder="Link URL&hellip;"></text>
    <input type="text" name="description" placeholder="Description (Optional)&hellip;"></text>
    <input type="submit" value="Save!">
  </form>
</section>

<% @links.each do |link| %>
  <article <%= 'class="complete"' if link.archived %>>
    <p>
      <%= link.url %>
      <span><a href="/<%= link.id %>">[edit]</a></span>
    </p>
    <p class="links">
      <a href="/<%= link.id %>/complete">&#8623;</a>
    </p>
    <p class="meta">Created: <%= link.created_at %></p>
  </article>
<% end %>
